.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
*.RDataTmp
*.RDataTmp1
*.RDataTmp2
questionnaire/~$sources.xlsx
data/~$inflation_imf.xlsx
*qualtrics_credential.R
*.Renviron
deprecated/*IDs*.csv
Adrien's/*
code_robustness/split_few_averagesplit_few_average.xlsx
*openai_key.txt

figures/split_few_average.pdf
